.add-operation {
  background: #eeeeee;
  border-radius: 5px;
  margin-bottom: 6px;
  padding: 10px;
}

tr.selection-header th {
  cursor: pointer;
}

tr.selection-header th:before {
  content: '+';
  padding-right: 10px;
}
