.restore-status {
  border-radius: 5px;
  cursor: help;
  display: inline-block;
  padding: 0 5px;
}

.restore-status.restore-stats {
  border-radius: 5px 0 0 5px;
}

.restore-storage-module,
.restore-storage-database,
.restore-storage-file {
  background-color: #cccccc;
  color: black;
}

.restore-storage-module.overriden {
  background-color: #e87400;
  color: white;
}

.restore-status-inactive {
  background-color: #cccccc;
  color: black;
}

.restore-status-active {
  background-color: green;
  color: white;
}

.restore-status-overriden {
  background-color: #333333;
  color: white;
}

.restore-status-missing {
  background-color: #ffaf00;
  color: #333333;
}

.restore-status-error {
  background-color: red;
  color: white;
}

.restore-status-conflict {
  background-color: #e87400;
  color: white;
}

.restore-status-unknown {
  background-color: #ff3300;
  color: white;
}

.restore-status-legend .restore-status,
.restore-status-count {
  cursor: help;
  display: inline-block;
  padding: 0 5px;
}

.restore-status-legend .restore-status {
  padding-left: 8px;
}

.restore-status-count:last-child {
  border-radius: 0 5px 5px 0;
  padding-right: 6px;
}

.opelm-status {
  background-color: #dedede;
  border-radius: 0 5px 5px 0;
  cursor: help;
  display: inline-block;
  margin: 1px 2px;
  padding: 0 8px 0 5px;
  position: relative;
}

.opelm-status:before {
  border-radius: 5px 0 0 5px;
  content: '';
  display: inline-block;
  height: 100%;
  left: -5px;
  position: absolute;
  top: 0;
  width: 5px;
}

.opelm-status.opelm-status-active:before {
  background-color: green;
}

.opelm-status.opelm-status-overriden:before {
  background-color: #333333;
}

.opelm-status.opelm-status-missing:before {
  background-color: #ffaf00;
}

.opelm-status.opelm-status-error:before {
  background-color: red;
}

.opelm-status.opelm-status-conflict:before {
  background-color: #e87400;
}

.form-actions .restore-status-legend {
  float: right;
}

.operation-selection .operation-selection-filter {
  background: #ccc;
  border-radius: 5px;
}

.operation-selection .operation-selection-filter input[type=text] {
  width: 100%;
}

.operation-selection .operation-selection-filter .form-type-checkbox {
  padding: 0 0 2px 10px !important;
}

.operation-selection .operation-selection-filter .form-type-checkbox label {
  color: black;
}

.operation-selection .operation-selection-items {
  border: 1px solid #ccc;
  margin: 4px;
  max-height: 100px;
  overflow-y: auto;
  padding: 0 4px;
}
